{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block navbar %} 
<p class="text-danger"> Built by 200100014-200050145 </p>
<h1> Welcome to Github Profiles! </h1> <br>
<a href="/signup" class="btn btn-primary"> Signup </a> <a href="#" class="btn btn-primary"> Login </a> <br> <br>
{% endblock %}

{% block content %}
<br> 
<h1 style="padding-bottom: 10px;"> Log to Github profile </h1> 
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit"> Login </button>
</form>
{% endblock %}