<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} Registration {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
  <style>
    .right{
      padding-left: 150px;
    }
  </style>
  <main>
    <div class="jumbotron bg-light text-center">
      <div class="container">
        {% block navbar %}
        {% endblock %}
      </div>
    </div>
    <div class="right">
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    </div>
  </main>
</body>
</html>